body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: blue;
}
h6 {
    color: cadetblue;
}
p {
    color: darkred;
    font-size: 32px;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
    margin: 0px;
}
th {
    background-color: bisque;
}
